/*FOR FRONTEN.HTML*/
body, html {
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('pexels-katerina-holmes-5905880.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.navbar {
    background: rgb(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    padding: none;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;      
}

.ulc {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left: 100px;
    padding: 0;
    margin-top: 20px;
    font-weight: bold;
    font-weight: 500;
}

.ulc li a {
    color: white;
    text-decoration: none;
    margin-left: 0px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-se;
}
.ulc li a:hover, .active {
    border-bottom: 2px solid #fff;
}

.allbtn .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgb(255, 255, 255. 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 10px;
    font-family: 'Poppins', sans-se;
}
#logbtn {
    background-color: transparent; 
    border: 2px solid black;
    color: white;
}

#regbtn {
    background-color: black; 
    color: white;
}

#logbtn:hover {
    background-color: black;
}

#regbtn:hover {
    background-color: #fff;
    color: black;
}

.logo {
    font-size: 40px;
    margin-left: 13px;
    color: rgb(67, 116, 207);
    font-weight: bold;
    text-decoration: none;
}

.red {
    color: red;
}

.slogan {
    margin: 0;
    padding-left: 20px;
}

.whlogo {
    display: flex;
    flex-direction: column;
    align-items: start;
}
/*FOR INTRO.HTML*/
.pill-container{
      display:inline-flex;
      background:#f1f5f9;
      padding:6px;
      border-radius:40px;
      gap:6px;
      align-items:center;
      margin-top: 65px;
      margin-left: 400px;
    }

    .pill-btn{
      display:flex;
      align-items:center;
      gap:6px;
      padding:10px 18px;
      border-radius:30px;
      cursor:pointer;
      font-weight:600;
      border:none;
      background:transparent;
      transition:background .18s ease,color .18s ease;
      color:#374151;
    }

    .pill-btn svg {
        width:18px;
        height:18px}

    .pill-btn.active{
      background:#16a34a;
      color:#fff;
    }

    .pill-btn:not(.active):hover{
      background:#e2e8f0;
    }
    .header {
        line-height: 1.5;
    }
    .head {
        font-size: 50px;
        font-family: 'Poppins', sans-se;
        color: #fff;
    }
    .mhead {
        color: darkblue;
        font-size: 40px;
        font-weight: bold;
        margin-top: -30px;
    }



